.titlebar {
  height: 32px;
  background-color: #1e1e1e; /* Match IDE theme */
  color: #858585;
  display: flex;
  justify-content: center; /* Centers the text */
  align-items: center;
  /* required to make the titlebar the aread you use to drag the app! (electron specific api) */
  app-region: drag; 
  
  /* The Fixes */
  width: 100%;           /* Spans full width */
  flex-shrink: 0;        /* Prevents squishing */
  box-sizing: border-box; 
  border-bottom: 1px solid #2d2d30;
  margin-bottom: 38px;
}

/* New class to handle centering without affecting the titlebar */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

nav.shrink-0 {
    background-color: #0d0d0d !important;
}

/* Standardize Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
